# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.pdb

# Replit
.replit
.replit.nix

# Misc
coverage/
